body {
  background-color: #000000;
  color: white;
}

table, th, td {
  border: 1px solid;
}

tr:hover {
  background-color: blue;
}

th, td {
  padding: 10px 30px 15px 20px;
}

.rating-h1 {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
